#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  background-color: white;
}
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arrival-times--list {
  list-style: none;
}

.arrival-times--time {
    font-family: "VT323", monospace;
}

.line-about-icon {
  height: 3rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 3rem;
}

.train-icon svg {
  fill: red;
  height: 100%;
  width: 100%;
}